.mcHero {
	height: 250px;
	background-color: #48d1cc;
}

.mcBanner {
    text-align: center;
    font-size: 45px;
	font-weight: 600; 
    color: white;
    width : 100%;
    margin-top:40px;
}

#academyUpdateForm, #myPostArea {
	background-color : #fff;
	box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
	padding : 10px;
	padding:18px 25px 25px 25px;
}

table {
	width: 100%;
    border-collapse: collapse;
}

 table th,  table td {
    padding: 6px;
    border-top: 1px solid #dddddd;
	border-bottom: 1px solid #dddddd;
	height: 50px;
}

table tr:nth-child(odd) {
  background-color: #f3f5fa;
}

table th {
	color: #37517e;
	font-size: 16px;
	font-weight: 600;
	border-right: 1px solid #dddddd;
    text-align: center;
    width:25%;
}

table td {
    text-align: left;
    padding-left: 30px;
}

input {
	border: 1px solid #ccc;
	margin-top: 3px;
	margin-bottom: 5px;
	height : 40px;
	border-radius: 5px;
	padding-left : 10px;
}


table button {
	height:35px;
    padding: 5px 15px;
    background-color: #47b2e4;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 600;
}

button:hover {
	background-color: #37517e;
}

#updateBtn, #payBtn {
	padding: 10px 20px;
    background-color: #48d1cc;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 600;
    margin-top:20px;
    margin-left:5px;
    float: right;
}

#updateBtn:hover, #payBtn:hover, #withdrawalBtn:hover{
	background-color: #37517e;
}

#academyRoadAddress, #academyTargetSubject {
	width: 370px;
}

#feeGroup input, #ageGroup input, #keywordGroup input {
	margin-right: 5px;
	height: 15px;
}

#feeGroup label, #ageGroup label, #keywordGroup label {
	margin-right : 30px;
}


#advertiseBtn, #matchingBtn {
	background-color: #48d1cc;
	color: white;
	border: none;
	cursor: pointer;
	border-radius: 5px;
	font-size: 16px;
	font-weight: 600;
	width: 750px;
	height: 50px;
	margin-top: 10px;
}

#matchingBtn:hover, #advertiseBtn:hover {
	background-color: #37517e;
}

h4 {
	font-weight: 600px;
	color: #37517e;
}

#withdrawalBtn  {
	padding: 10px 20px;
	background-color: red;
	color: white;
	border: none;
	cursor: pointer;
	border-radius: 5px;
	font-size: 16px;
	font-weight: 600;
	margin-top: 20px;
	margin-left: 5px;
	float: left;
}

