#hero {
	height: 350px !important; 
	background-color: #48d1cc;
}

.banner {
    text-align: center;
    font-size: 45px;
	font-weight: 600; 
    color: white;
    width : 100%;
    margin-top:-70px  !important;
}

.descBox {
	background-color : white;
	color : #37517e;
	font: 15px bold;
	margin-top: 25px;
	margin-bottom: -20px;
	padding : 35px;
	text-align: left;
	border-radius: 20px;
}

.descBox span {
	font-size: 18px;
}


.boardDetail {
	background-color : #fff;
	box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
	padding : 10px;
	padding:18px 25px 25px 25px;
}

.boardDetail table {
	width: 100%;
    border-collapse: collapse;
}


.boardDetail table th, .boardDetail table td {
    padding: 6px;
    border-top: 1px solid #dddddd;
	border-bottom: 1px solid #dddddd;
	height: 50px;
}


.boardDetail table tr:nth-child(odd) {
  background-color: #f3f5fa;
}

.boardDetail table th {
	color: #37517e;
	font-size: 16px;
	font-weight: 600;
	border-right: 1px solid #dddddd;
    text-align: center;
    width:25%;
}

.boardDetail table td {
    text-align: left;
    padding-left: 30px;
}

#BtnGroup button {
	padding: 10px 20px;
    background-color: #48d1cc;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
    float: right;
    font-weight: 600;
    margin-top : 20px;
    margin-left : 5px;
}

#freeUpdateBtn:hover, #freeDeleteBtn:hover, #freeWriterBtn:hover, #freeListBtn:hover {
	background-color: #37517e;
}


.comment {
	width : 100%;
}

#commentWriter {
	border: none;
	background-color: transparent; 
	margin-bottom : 5px;
	color : #37517e;
	font-weight: 600;	
	font-size:20px;
}

#commonCommentContent {
	resize: none;
	width : 100%;
	height: 80px;
	border-color : #dddddd;
	padding: 10px;
}

.personalId {
	clear: both; 
    float: left;
    color : #37517e;
	font-weight: 600;	
}

.commonCommentDate {
	float: right;
    color : #848484;
}

.card-text {
	clear: both; 
    float: left;
}

#freereplyInsertBtn, #upBtn {
	float: right;
	padding: 5px 10px;
    background-color: #48d1cc;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 600;
    margin-left:5px;
}

label {
	font-size: 19px !important;
	font-weight: 600;
}



#frUpdateBtn, #frDeleteBtn {
	float: right;
	padding: 5px 10px;
    background-color: #48d1cc;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 600;
    margin-bottom:10px;
    margin-left:5px;
}

hr {
	clear: both;
}


h4 {
	color: #37517e !important;
	font-weight: bold !important;
}

.comment {
	width: 100%;
}