#hero {
	height: 350px;
	background-color: #48d1cc;
}

.banner {
    text-align: center;
    font-size: 45px;
	font-weight: 600; 
    color: white;
    width : 100%;
    margin-top:-70px;
}

.descBox {
	background-color : white;
	color : #37517e;
	font: 15px bold;
	margin-top: 25px;
	margin-bottom: -20px;
	padding : 35px;
	text-align: left;
	border-radius: 20px;
}

.descBox span {
	font-size: 18px;
}

.list {
	background-color : #fff;
	box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
	padding : 10px;
	background-color : #f3f5fa;
}

.list table {
	width: 100%;
    border-collapse: collapse;
}

#freeSearch {
	margin-bottom: 30px;
}

#freeWriterBtn  {
	padding: 10px 20px;
    background-color: #48d1cc;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
    float: right;
    font-weight: 600;
    margin-top : 20px;
}



#searchData {
	height:35px;
    padding: 5px 15px;
    background-color: #48d1cc;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 600;
    margin-left: 5px;
    float: right;
}

#searchData:hover, #freeWriterBtn:hover {
	background-color: #37517e;
}