
#hero {
	height: 350px;
	background-color: #48d1cc;
}

.banner {
    text-align: center;
    font-size: 45px;
	font-weight: 600; 
    color: white;
    width : 100%;
    margin-top:-70px;
}

.descBox {
	background-color : white;
	color : #37517e;
	font: 15px bold;
	margin-top: 25px;
	margin-bottom: -20px;
	padding : 35px;
	text-align: left;
	border-radius: 20px;
}

.descBox span {
	font-size: 18px;
}


.advDetail {
	background-color : #fff;
	box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
	padding : 10px;
	padding:18px 25px 25px 25px;
}

table {
	width: 100%;
    border-collapse: collapse;
}

table thead {
	color: #37517e;
	font-size: 18px;
	font-weight: 600;
	border-bottom: 1px solid #ddd;
	height: 50px;
}

table th, table td {
    padding: 6px;
    border-top: 1px solid #dddddd;
	border-bottom: 1px solid #dddddd;
	height: 50px;
}


table tr:nth-child(odd) {
  background-color: #f3f5fa;
}

table th {
	color: #37517e;
	font-size: 16px;
	font-weight: 600;
	border-right: 1px solid #dddddd;
    text-align: center;
    width:25%;
}

table td {
    text-align: left;
    padding-left: 30px;
}


img {
	max-width : 600px;
	height: auto; 
	margin-top : 20px;
}

#editPost, #deletePost {
	padding: 10px 20px;
    background-color: #48d1cc;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 600;
    margin-top:20px;
    margin-left:5px;
}

#prevPost, #nextPost, #gotoList, #cancel, #editFinish {
	padding: 10px 20px;
    background-color: #48d1cc;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 600;
    margin-top:20px;
    margin-left:5px;
    float: right;
}

#editPost:hover, #deletePost:hover, #prevPost:hover, #nextPost:hover, #gotoList:hover, #cancel:hover, #editFinish:hover, #mcBtn:hover, #commentUpdateBtn:hover, #commentDeleteBtn:hover  {
    background-color: #37517e;
}




#likeImage {
    width: 150px;
}

#likeButton {
    display: flex;
    justify-content: center; /* 수평 가운데 정렬 */
    align-items: center; /* 수직 가운데 정렬 */
    flex-direction: column; /* 세로로 요소 배치 */
}

#likeMsg {
    text-align: center;
    display: block; /* 블록 수준 요소로 설정 */
    font-size : 18px;
    color: #37517e;
    font-weight: 600;
    margin-top: 8px;
    
}

#commonTitle {
	width : 100%;
	border-color : #dddddd;
	padding: 10px;
	margin-top: 5px;
	margin-bottom: 5px;
}

#commonContent {
	resize: none;
	width : 100%;
	border-color : #dddddd;
	padding: 10px;
	margin-top: 6px;
}

#likeButton:hover {
	cursor: pointer;
}

#lastTd {
	padding-bottom : 32px;
}

