.mcHero {
	height: 250px;
	background-color: #48d1cc;
}

.mcBanner {
    text-align: center;
    font-size: 45px;
	font-weight: 600; 
    color: white;
    width : 100%;
    margin-top:40px;
}

#f_joinForm {
	background-color : #fff;
	box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
	padding : 10px;
	padding:18px 25px 25px 25px;
}

table {
	width: 100%;
    border-collapse: collapse;
}

 table th,  table td {
    padding: 6px;
    border-top: 1px solid #dddddd;
	border-bottom: 1px solid #dddddd;
	height: 50px;
}

table tr:nth-child(odd) {
  background-color: #f3f5fa;
}

table th {
	color: #37517e;
	font-size: 16px;
	font-weight: 600;
	border-right: 1px solid #dddddd;
    text-align: center;
    width:25%;
}

table td {
    text-align: left;
    padding-left: 30px;
}

input {
	border: 1px solid #ccc;
	margin-top: 3px;
	margin-bottom: 5px;
	height : 40px;
	border-radius: 5px;
	padding-left : 10px;
}


table button {
	height:35px;
    padding: 5px 15px;
    background-color: #47b2e4;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 600;
   	margin-left : 10px;
}

#personalInsertBtn {
	padding: 10px 20px;
    background-color: #48d1cc;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 600;
    margin-top:20px;
    margin-left:5px;
    float: right;
}

#personalInsertBtn:hover{
	background-color: #37517e;
}

button:hover {
	background-color: #37517e;
}